In [1]:
# 12.2

In [87]:
import pandas as pd
import numpy as np

In [88]:
item = pd.read_csv('../RIRT実習データ/chap12/item_vocab.csv',encoding='shift-jis')

In [89]:
item.head()

   ITEMID  KEY       STEM
0       1    2  「ひときわ」めだつ
1       2    3     「架空の話」
2       3    4       「発端」
3       4    3       「服用」
4       5    5   本を「発行する」

In [127]:
x = pd.read_csv('../RIRT実習データ/chap12/data_vocab(sim).csv',encoding='shift-jis',na_values=9,header=None)

In [128]:
x.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,2,3,4,3,5,4,2,3,5,4.0,5,5,4,4,1,4,4.0,3,1.0,2.0
1,2,3,4,3,5,4,2,3,5,4.0,5,5,4,4,1,4,4.0,2,3.0,4.0
2,2,3,4,3,5,4,2,3,5,4.0,5,5,4,4,1,4,4.0,2,2.0,4.0
3,2,3,4,3,5,4,2,3,5,NaN,5,5,4,4,1,4,4.0,2,NaN,NaN
4,2,3,4,3,5,4,2,3,3,3.0,5,5,4,4,3,4,5.0,2,1.0,2.0

In [129]:
x.shape

(1262, 20)

In [130]:
item.KEY

0     2
1     3
2     4
3     3
4     5
5     4
6     2
7     3
8     5
9     4
10    5
11    5
12    4
13    4
14    1
15    4
16    4
17    2
18    3
19    1
Name: KEY, dtype: int64

In [131]:
u = x == item.KEY

In [132]:
u.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False
1,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False
3,True,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True,True,True,False,False
4,True,True,True,True,True,True,True,True,False,False,True,True,True,True,False,True,False,True,False,False

In [96]:
np.mean(u) # 項目困難度

0     0.895404
1     0.961173
2     0.945325
3     0.953249
4     0.835182
5     0.824881
6     0.948494
7     0.852615
8     0.805864
9     0.603011
10    0.858954
11    0.685420
12    0.917591
13    0.778922
14    0.783677
15    0.577655
16    0.805864
17    0.889857
18    0.349445
19    0.274168
dtype: float64

In [97]:
x.columns = [str(i) for i in range(20)]

In [98]:
x.columns

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19'],
      dtype='object')

In [113]:
pitem = pd.DataFrame()
for i in range(1,6):
    pitem[str(i)] = (x == i).mean(axis=0)

In [114]:
u = x.isnull()

In [115]:
u

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1257,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1258,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1259,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1260,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1261,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [116]:
u.mean(axis=0)

0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.000000
9     0.001585
10    0.000000
11    0.000000
12    0.000000
13    0.000000
14    0.000000
15    0.000000
16    0.000792
17    0.000000
18    0.002377
19    0.003962
dtype: float64

In [134]:
# 12.2.4

In [142]:
# 点双列相関係数ではなくピアソン籍率相関係数で代替
from scipy.spatial.distance import cdist
sm = u.sum(axis=1)
res=(1 - cdist(pd.DataFrame(sm).T, u.T, metric='correlation'))

In [141]:
res

array([[0.48256356, 0.55316115, 0.61313638, 0.57610387, 0.46923758,
        0.57267638, 0.56417053, 0.56709918, 0.57051326, 0.4567901 ,
        0.65968677, 0.38204098, 0.5571807 , 0.5550026 , 0.57963285,
        0.42040629, 0.63481461, 0.5590357 , 0.34712482, 0.37146922]])